.background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-group-exit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px; /* Jarak antara tombol */
    margin-top: 2.1em;
}

.btn-back, .btn-out {
    width: 230px;         /* optional: bikin lebar sama */
    font-size: 1.15em;
    margin: 0;
    display: block;
}

.bg{
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}